.aui-flexView {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
}

.aui-navBar {
    height: 0.9rem;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(255, 255, 255, 0.98);
}

.aui-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.aui-navBar-item {
    height: 0.9rem;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    color: #5C5C5C;
}

.aui-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
}

.aui-navBar-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 0.9rem;
    width: 50%;
    margin-left: 25%;
}

.aui-navBar-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.3rem;
    color: #5C5C5C;
}

.aui-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-bottom: -1px;
}

.aui-content {
    padding-bottom: 1.14rem;
}

.aui-special-box {
    padding: 0.3rem;
    background: #fff;
    position: relative;
}

.aui-special-special img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.aui-special-head h1 {
    font-size: 0.4rem;
    color: #352f2f;
}

.aui-special-head p {
    font-size: 0.3rem;
    color: #6b6565;
}

.aui-pages-title {
    padding: 0.2rem 0;
}

.aui-pages-title p {
    font-size: 0.29rem;
    color: #7d7373;
    padding-bottom: 0.2rem;
}

.aui-pages-img {
    margin-bottom: 0.2rem;
}

.aui-pages-img img {
    width: 100%;
    height: auto;
    border: none;
    display: block;
}

.aui-pages-footer {
    width: 100%;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .104rem 0 .07rem;
    background-color: rgba(255, 255, 255, 0.99);
}

.aui-pages-footer:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #B2B2B2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.aui-footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10002;
}

.aui-pages-footer-box {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
}

.aui-pages-footer-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0 0.24rem;
    overflow: hidden;
}

.aui-pages-footer-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.aui-pages-footer-input input {
    background: #f1f1f1;
    border: none;
    border-radius: 1rem;
    height: 0.55rem;
    width: 95%;
    padding-left: 0.1rem;
}

.aui-pages-footer-title {
    padding-top: 0.15rem;
}

.aui-pages-footer-title span {
    width: 0.43rem;
    height: 0.43rem;
    display: inline-block;
    float: left;
    margin: 0 0.2rem;
}

.aui-pages-footer-title span img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
    float: left;
}