.reg {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* background-color: #fff; */
}

.reg .head {
    position: fixed;
    width: 100%;
    z-index: 99;
    text-align: center;
    line-height: 0.88rem;
    height: 0.88rem;
    font-size: 0.32rem;
    color: #fff;
    background: #e23020;
    top: 0;
}

.reg .head .goback {
    width: 0.27rem;
    height: 0.42rem;
    background: url(../img/logo/back.png) no-repeat center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    float: left;
    position: relative;
    top: 0.23rem;
    left: 0.3rem;
}

header:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.reg .logo {
    width: 2.1333rem;
    height: 2.1333rem;
    background-size: contain;
    margin: 1.25333333rem auto 0.8rem;
    background: url(../img/logo/head.png) no-repeat center;
    background-size: 1.1333rem, 1.1333rem;
}

form {
    display: block;
    margin-top: 0em;
}

.form li {
    padding: 0 0.3rem;
    margin-bottom: 0.2rem;
}

input[type='text'],
input[type='password'] {
    height: 0.88rem;
    line-height: 0.88rem;
    width: 100%;
    font-size: 0.26rem;
    color: #999;
    background: #fff;
    padding-left: 0.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "苹方";
    font-weight: normal;
    outline: none;
    border: none;
}

input[type="button"] {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    line-height: 0.75rem;
    width: 6.3rem;
    border-radius: 0.1rem;
    height: 0.75rem;
    font-size: 0.26rem;
    background: #e23020;
    color: #fff;
    margin-top: 0.1rem;
    font-family: "苹方";
    font-weight: normal;
    outline: none;
    border: none;
}

.miss {
    padding: 0 0.6rem;
}

.l {
    float: left;
}

.r {
    float: right;
}

.miss li a {
    font-size: 0.26rem;
    color: #e23020;
}